In [ ]:
# Question 1
# importing libraries
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [5]:
# importing the data
data=pd.read_csv('E:\\download\\Cutlets.csv')
data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

Null Hypothesis: Both the units have same diameters

Alternate Hypothesis: Both the units have different diameters

In [19]:
# Finding the p-value
stats.ttest_ind(data['Unit A'],data['Unit B'])[1]

0.4722394724599501

since the p-vale is greater than the significance level of 5%, we shall conclude that Null Hypothesis to be true

So both the units have same diameter of Cutlets

# Question 2

In [20]:
# importing libraries
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [21]:
# importing the data
data_1=pd.read_csv('E:\\download\\LabTAT.csv')
data_1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

Null Hypothesis: All the Laboratories have same TAT

Alternate Hypothesis: Atleast one the Laboratory have different than the other

In [23]:
stats.f_oneway(data_1['Laboratory 1'],data_1['Laboratory 2'],data_1['Laboratory 3'],data_1['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

since the p-vale is greater than the significance level of 5%, we shall conclude that Null Hypothesis to be true

So all the Laboratories have same TAT

# Question 3

In [29]:
from scipy.stats import chi2_contingency

In [24]:
# importing the data
data_2=pd.read_csv('E:\\download\\BuyerRatio.csv')
data_2

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [30]:
# making array of the data
chi=np.array([[50,142,131,70],[435,1523,1356,750]])
chi

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

Null Hypothesis: All proportions are equal

Alternate Hypothesis: Not all Proportions are equal

In [32]:
stats.chi2_contingency(chi)[1]

0.6603094907091882

this value is greater than the p_value, so null hypothesis will be accepted

# Question 4

In [33]:
# importing the data
data_3=pd.read_csv('E:\\download\\Costomer+OrderForm.csv')
data_3

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [38]:
# value counts for data
v_1 = data_3.Phillippines.value_counts()
print(v_1)
v_2 = data_3.Indonesia.value_counts()
print(v_2)
v_3 = data_3.Malta.value_counts()
print(v_3)
v_4 = data_3.India.value_counts()
print(v_4)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [39]:
# making array of the data
chi=np.array([[271,267,269,280],[29,33,31,20]])
chi

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

Null Hypothesis: Defective percentage are equal for all centre

Alternate Hypothesis: Defective percentage varies by centre

In [40]:
stats.chi2_contingency(chi)[1]

0.2771020991233135

this value is greater than the p_value, so null hypothesis will be accepted